<ion-view view="positive" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Upcoming Events</h1>
</ion-header-bar>
    <ion-content class="has-header" height=100%>
     
   <body>
           <ion-content class="has-header" height=100%>
     
<iframe 
    frameborder="0" scrolling="yes"
    margin-top: -533px marginwidth="0" width=100% height=100% style="position:absolute; 
            top:-200px bottom:400px"
    src="http://fulbrightfkar.site50.net/?gce_feed=22"/></iframe><div class="footer"> </ion-content>
  </ion-content>
</ion-view>
</body>