<ion-view view="positive" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-positive" animation="nav-title-slide-ios7">
        <h1 class="title">Fulbright Korea Alumni Map</h1>
</ion-header-bar>
    <body>  
    <ion-content class="has-header" height=100%>
     
    <iframe scrolling="no" id="main_iframe" class="main_iframe" frameborder="0"   marginheight="0" marginwidth="0" width=100% height=100% src="http://www.easymapmaker.com/map/d3b80d612f66cc5fdbff50ed3eb4c4d7"/>
  <ion-content>
        <div class="footer">  </div></body>

  </ion-content>
</ion-view></iframe>