<ion-view view-title="Maps"><ion-nav-bar class="bar-positive">/* add button etc*/</ion-nav-bar><br><br><!-- this is for android--><br><br>
    <body>  
    <div class="iframe_container">
    <iframe scrolling="no" id="main_iframe" class="main_iframe" frameborder="0"   marginheight="0" marginwidth="0" width=100% height=100% src="http://www.easymapmaker.com/map/d3b80d612f66cc5fdbff50ed3eb4c4d7"/>
  <ion-content></div>
        </div><div class="footer">  </div></body>

  </ion-content>
</ion-view></iframe>